#@metis()

#define main()

<style>
    .two {
        display: block;
        width: 300px;
        height: 180px;
        top: 90%;
        position: absolute;
    }

    .blkLeft {
        left: 10%;
    }

    .blkRight {
        left: 70%;
    }


</style>


<div id="picId" style="height: 650px;" data-controller="metis--overview">
    <h1 class="title has-text-centered" id="xtitle">METIS慧眼解决方案将管理创新与平台支撑相结合，
        让行业龙头企业围绕实时客户动态组合产品与服务，不断在平台上快速演变新的商业模式</h1>

    <div id="overviewId" style="height: 650px;"></div>

    <img class="two blkLeft" src="/assets/images/two_left.png"></img>
    <img class="two blkRight" src="/assets/images/two_right.png"></img>

</div>
#end
